[respond]

[include base.cfg]

[gcode_macro RESUME]
description: Riprendi stampa
rename_existing: RESUME_BASE
gcode:
    ZCONTROL_ON
    RUN_SHELL_COMMAND CMD=zsend PARAMS="M24"
#    RESUME_BASE

[gcode_macro PAUSE]
description: Metti in pausa la stampa
rename_existing: PAUSE_BASE
gcode:
    {% set midi_pause = printer.save_variables.variables.midi_pause|default("") | string %}
    {% if midi_pause != "" %}
        PLAY_MIDI FILE={midi_pause}
    {% endif %}

    RUN_SHELL_COMMAND CMD=zsend PARAMS="M25"
    UPDATE_DELAYED_GCODE ID=_GOTO_PAUSE DURATION=10
    ZCONTROL_OFF
#    PAUSE_BASE

[gcode_macro M25]
description: Metti in pausa la stampa
rename_existing: M25.1
gcode:
    ZCONTROL_OFF
    M25.1
    UPDATE_DELAYED_GCODE ID=_GOTO_PAUSE DURATION=10

[gcode_macro CANCEL_PRINT]
description: Annulla la stampa
rename_existing: CANCEL_PRINT_BASE
gcode:
    {% set cancel_send = printer["gcode_macro _CANCEL_PRINT"].cancel_send %}

    {% if cancel_send == 1 %}
        RESPOND TYPE=echo MSG="Invio dell'annullamento allo schermo nativo annullato"
        SET_GCODE_VARIABLE MACRO=_CANCEL_PRINT VARIABLE=cancel_send VALUE=0
        ZCONTROL_OFF
    {% else %}
        RUN_SHELL_COMMAND CMD=zsend PARAMS="M26"
        _STOP
        SET_GCODE_VARIABLE MACRO=_CANCEL_PRINT VARIABLE=cancel_send VALUE=1
        RESPOND TYPE=echo MSG="Annullamento inviato allo schermo nativo"
    {% endif %}

    {% set zclose_dialogs = printer.save_variables.variables.close_dialogs|default(2) | int %}
    {% if zclose_dialogs == 1 %}
        UPDATE_DELAYED_GCODE ID=_CLOSE_DIALOGS DURATION=20
    {% endif %}
    {% if zclose_dialogs == 2 %}
        UPDATE_DELAYED_GCODE ID=_FAST_CLOSE_DIALOGS DURATION=20
    {% endif %}

    {% set zstop_motor = printer.save_variables.variables.stop_motor|default(1) | int %}
    {% if zstop_motor == 1 %}
        UPDATE_DELAYED_GCODE ID=_STOP_MOTOR DURATION=25
    {% endif %}

    CANCEL_PRINT_BASE

[gcode_macro START_PRINT]
description: Sostituisci G-code di avvio predefinito
variable_screen: True
gcode:
    {% set extruder_temp = params.EXTRUDER_TEMP|default(245)|float %}
    {% set bed_temp = params.BED_TEMP|default(80)|float %}
    {% set force_kamp = params.FORCE_KAMP|default(False) %}
    {% set force_leveling = params.FORCE_LEVELING|default(False) %}
    {% set skip_leveling = params.SKIP_LEVELING|default(False) %}
    {% set skip_zoffset = params.SKIP_ZOFFSET|default(True) %}
    {% set zoffset = params.Z_OFFSET|default(0.0)|float %}
    {% set mesh = params.MESH|default("")|string %}

    {% if params.FORCE_MD5 %}
        {% set force_md5 = params.FORCE_MD5|default(True) %}
        {% if force_md5 == True %}
            {action_raise_error("Parametro FORCE_MD5 spostato verso SAVE_ZMOD_DATA\nUsa SAVE_ZMOD_DATA FORCE_MD5=1")}
        {% else %}
            {action_raise_error("Parametro FORCE_MD5 spostato verso SAVE_ZMOD_DATA\nUsa SAVE_ZMOD_DATA FORCE_MD5=0")}
        {% endif %}
    {% endif %}

    {% if params.DISABLE_PRIMING %}
        {% set disable_priming = params.DISABLE_PRIMING|default(False) %}
        {% if disable_priming == True %}
            {action_raise_error("Parametro DISABLE_PRIMING spostato verso SAVE_ZMOD_DATA\nUsa SAVE_ZMOD_DATA DISABLE_PRIMING=1")}
        {% else %}
            {action_raise_error("Parametro DISABLE_PRIMING spostato verso SAVE_ZMOD_DATA\nUsa SAVE_ZMOD_DATA DISABLE_PRIMING=0")}
        {% endif %}
    {% endif %}

    {% if params.DISABLE_SKEW_CORRECT %}
        {% set disable_skew = params.DISABLE_SKEW_CORRECT|default(True) %}
        {% if disable_skew == True %}
            {action_raise_error("Parametro DISABLE_SKEW_CORRECT spostato verso SAVE_ZMOD_DATA\nUsa SAVE_ZMOD_DATA DISABLE_SKEW=1")}
        {% else %}
            {action_raise_error("Parametro DISABLE_SKEW_CORRECT spostato verso SAVE_ZMOD_DATA\nUsa SAVE_ZMOD_DATA DISABLE_SKEW=0")}
        {% endif %}
    {% endif %}

    {% if params.CLEAR %}
        {% set clear = params.CLEAR|default("_CLEAR1")|string %}
        {action_raise_error("Parametro CLEAR spostato verso SAVE_ZMOD_DATA\nUsa SAVE_ZMOD_DATA CLEAR=" + clear)}
    {% endif %}

    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zforce_kamp VALUE={force_kamp|int}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zbed_temp VALUE={bed_temp|float}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zextruder_temp VALUE={extruder_temp|float}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zforce_leveling VALUE={force_leveling}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zforce_kamp VALUE={force_kamp}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zskip_zoffset VALUE={skip_zoffset}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zskip_leveling VALUE={skip_leveling}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zzoffset VALUE={zoffset|float}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zmesh VALUE='"{mesh|string}"'

    _START_PRINT

[gcode_macro END_PRINT]
description: Fine G-code
gcode:
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] | default({}) %}
    {% if (printer.toolhead.extruder != '') and (printer[printer.toolhead.extruder].can_extrude) %}
        G1 E-3 F3600
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
        {% if printer.toolhead.position.x != client.custom_park_x %}
            {% if printer.toolhead.position.y > client.max_y %}
                G1 Y{client.max_y} F12000
                M400
            {% endif %}
            G1 X{client.custom_park_x} F12000
            M400
        {% endif %}
        G1 Y{client.custom_park_y} F30000
        M400
    {% endif %}

    {% set zclose_dialogs = printer.save_variables.variables.close_dialogs|default(2) | int %}
    {% if zclose_dialogs == 1 %}
        UPDATE_DELAYED_GCODE ID=_CLOSE_DIALOGS DURATION=20
    {% endif %}
    {% if zclose_dialogs == 2 %}
        UPDATE_DELAYED_GCODE ID=_FAST_CLOSE_DIALOGS DURATION=20
    {% endif %}

    {% set zauto_reboot = printer.save_variables.variables.auto_reboot|default(0) | int %}
    {% if zauto_reboot != 0 %}
        RESPOND PREFIX="info" MSG="Riavvio automatico in 1.5 minuti"
        UPDATE_DELAYED_GCODE ID=_AUTO_REBOOT DURATION=90
    {% endif %}

    {% set pro_poweroff_timeout = printer.save_variables.variables.pro_poweroff_timeout|default(0) | int %}
    {% if pro_poweroff_timeout != 0 %}
        RESPOND PREFIX="info" MSG="Spegnimento automatico della stampante in {pro_poweroff_timeout} min"
        UPDATE_DELAYED_GCODE ID=_PRO_POWEROFF DURATION={pro_poweroff_timeout*60}
    {% endif %}

    _STOP

    {% set zstop_motor = printer.save_variables.variables.stop_motor|default(1) | int %}
    {% if zstop_motor == 1 %}
        UPDATE_DELAYED_GCODE ID=_STOP_MOTOR DURATION=25
    {% endif %}

[gcode_macro _PRINT_FILE]
description: Stampa file
gcode:
    {% set path = printer.configfile.settings.virtual_sdcard.path %}
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] | default({}) %}
    {% set silent = printer.save_variables.variables.silent|default(0) | int %}
    {% set zclear = printer.save_variables.variables.zclear|default("LINE_PURGE")|string %}
    {% set leveling = printer.save_variables.variables.print_leveling|default(0) | int %}
    {% set zuse_kamp = printer.save_variables.variables.use_kamp|default(0) | int %}

    _PREPARE_PRINT

    {% if 'FILENAME' in params %}
        {% set filename = params.FILENAME|default("")|string %}
        {% if leveling == 1 %}
            RESPOND PREFIX="info" MSG="Stampa file {filename} con livellamento del piatto dallo schermo nativo"
        {% else %}
            RESPOND PREFIX="info" MSG="Stampa file {filename} dallo schermo nativo"
        {% endif %}
        M23 /{filename}
    {% else %}
        {% if leveling == 1 %}
            RESPOND PREFIX="info" MSG="Stampa file con livellamento del piatto dallo schermo nativo"
        {% else %}
            RESPOND PREFIX="info" MSG="Stampa file dallo schermo nativo"
        {% endif %}
        {action_raise_error("Errore! Nome file non specificato.")}
    {% endif %}

    EXCLUDE_OBJECT_DEFINE RESET=1

    {% set force_md5 = printer.save_variables.variables.force_md5|default(1) | int %}
    {% if force_md5 == 1 %}
        RESPOND PREFIX="info" MSG="Avviata verifica MD5 {filename}"
        CHECK_MD5 DELETE=True FILENAME="{path}{filename}"
    {% endif %}

    {% if zuse_kamp == 1 and leveling == 1 %}
        RESPOND PREFIX="info" MSG="Recupero dati per KAMP"
        ZEXCLUDE FILENAME="{filename}"
        RUN_SHELL_COMMAND CMD=zexclude PARAMS={'"%s"' % (filename.replace("'", "\\\'").replace(" ", "\ "))}
    {% endif %}

    ZCONTROL_ABORT
    ZCONTROL_ON

    {% set zpreclear = printer.save_variables.variables.preclear|default(0) | int %}
    {% if zpreclear == 1 %}
        RESPOND PREFIX="info" MSG="Riscaldamento del piatto ed estrusore"
        RESPOND PREFIX="//" MSG="Lo schermo della stampante si bloccherà fino al termine della pre-pulizia."
        RUN_SHELL_COMMAND CMD=zpreclear PARAMS={'"%s TEST"' % (filename.replace("'", "\\\'").replace(" ", "\ "))}
    {% else %}
        RUN_SHELL_COMMAND CMD=zpreclear PARAMS={'"%s NONE"' % (filename.replace("'", "\\\'").replace(" ", "\ "))}
    {% endif %}

    {% if client.ad5x %}
        SET_ZCOLOR FILENAME="{filename}" SILENT={silent} LEVELING={leveling}
    {% else %}
        {% if leveling == 1 %}
            RUN_SHELL_COMMAND CMD=zprint PARAMS={'"PRINT %s"' % (filename.replace("'", "\\\'").replace(" ", "\ "))}
        {% else %}
            RUN_SHELL_COMMAND CMD=zsend PARAMS={'"M23 %s"' % (filename.replace("'", "\\\'").replace(" ", "\ "))}
        {% endif %}
    {% endif %}

[gcode_macro M26]
rename_existing: M26.1
gcode:
    {% set zuse_kamp = printer.save_variables.variables.use_kamp|default(0) | int %}
    {% set zclear = printer.save_variables.variables.zclear|default("LINE_PURGE")|string %}
    {% set filename = printer.virtual_sdcard.file_path|default("")|string  %}

    {% if zuse_kamp == 1 or zclear == "LINE_PURGE" %}
        RESPOND PREFIX="info" MSG="Recupero dati per KAMP"
        RUN_SHELL_COMMAND CMD=zexclude PARAMS={'"%s"' % (filename.replace("'", "\\\'").replace(" ", "\ "))}
    {% endif %}
    M26.1 {rawparams}
