[include base.cfg]

[gcode_button btn_power]
pin: !PC15
press_gcode:
    _SHUTDOWN

[gcode_macro _PAUSE_MACRO]
gcode:
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    ZCONTROL_OFF

[gcode_macro _COMMON_END_PRINT]
# _COMMON_END_PRINT is used by END_PRINT and CANCEL_PRINT
gcode:
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] | default({}) %}

    {% if ("xyz" in printer.toolhead.homed_axes) %}
        G90
        {% set z_max = [ printer['gcode_macro G28'].z | default(220), 220 ] | min %}
        G1 Z{z_max}
        M400
        {% if printer.toolhead.position.x != client.custom_park_x %}
            {% if printer.toolhead.position.y > client.max_y %}
                G1 Y{client.max_y} F12000
                M400
            {% endif %}
            G1 X{client.custom_park_x} F12000
            M400
        {% endif %}
        G1 Y{client.custom_park_y} F3000
        M400
    {% endif %}

    _STOP

    AIR_CIRCULATION_STOP

    {% set zstop_motor = printer.save_variables.variables.stop_motor|default(1) | int %}
    {% if zstop_motor == 1 %}
        UPDATE_DELAYED_GCODE ID=_STOP_MOTOR DURATION=25
    {% endif %}

[include client.cfg]

[delayed_gcode _SDCARD_RESET_FILE]
initial_duration: 0
gcode:
    SDCARD_RESET_FILE

[delayed_gcode _TEST_DISPLAY_OFF]
initial_duration: 0
gcode:
    RESPOND PREFIX="info" MSG="기본 화면 비활성화"
    RUN_SHELL_COMMAND CMD=zdisplay PARAMS="test"

[delayed_gcode _PREPARE_DISPLAY_OFF]
initial_duration: 1
gcode:
    {% set display_off_timeout = printer.save_variables.variables.display_off_timeout|default(20) | int %}

    UPDATE_DELAYED_GCODE ID=_TEST_DISPLAY_OFF DURATION={display_off_timeout}
    UPDATE_DELAYED_GCODE ID=_TEST_RESTORE DURATION={display_off_timeout+33}
    BED_MESH_CLEAR
    BED_MESH_PROFILE LOAD=auto

    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] | default({}) %}

[gcode_macro START_PRINT]
description: 기본 시작 G-code 대체
variable_screen: False
gcode:
    {% set extruder_temp = params.EXTRUDER_TEMP|default(245)|float %}
    {% set bed_temp = params.BED_TEMP|default(80)|float %}
    {% set force_kamp = params.FORCE_KAMP|default(False) %}
    {% set force_leveling = params.FORCE_LEVELING|default(False) %}
    {% set skip_leveling = params.SKIP_LEVELING|default(False) %}
    {% set skip_zoffset = params.SKIP_ZOFFSET|default(True) %}
    {% set zoffset = params.Z_OFFSET|default(0.0)|float %}
    {% set mesh = params.MESH|default("")|string %}
    {% set internal = params.INTERNAL|default(1)|int %}

    {% if params.FORCE_MD5 %}
        {% set force_md5 = params.FORCE_MD5|default(True) %}
        {% if force_md5 == True %}
            {action_raise_error("매개변수 FORCE_MD5 이동 완료 SAVE_ZMOD_DATA\n사용 SAVE_ZMOD_DATA FORCE_MD5=1")}
        {% else %}
            {action_raise_error("매개변수 FORCE_MD5 이동 완료 SAVE_ZMOD_DATA\n사용 SAVE_ZMOD_DATA FORCE_MD5=0")}
        {% endif %}
    {% endif %}

    {% if params.DISABLE_PRIMING %}
        {% set disable_priming = params.DISABLE_PRIMING|default(False) %}
        {% if disable_priming == True %}
            {action_raise_error("매개변수 DISABLE_PRIMING 이동 완료 SAVE_ZMOD_DATA\n사용 SAVE_ZMOD_DATA DISABLE_PRIMING=1")}
        {% else %}
            {action_raise_error("매개변수 DISABLE_PRIMING 이동 완료 SAVE_ZMOD_DATA\n사용 SAVE_ZMOD_DATA DISABLE_PRIMING=0")}
        {% endif %}
    {% endif %}

    {% if params.DISABLE_SKEW_CORRECT %}
        {% set disable_skew = params.DISABLE_SKEW_CORRECT|default(True) %}
        {% if disable_skew == True %}
            {action_raise_error("매개변수 DISABLE_SKEW_CORRECT 이동 완료 SAVE_ZMOD_DATA\n사용 SAVE_ZMOD_DATA DISABLE_SKEW=1")}
        {% else %}
            {action_raise_error("매개변수 DISABLE_SKEW_CORRECT 이동 완료 SAVE_ZMOD_DATA\n사용 SAVE_ZMOD_DATA DISABLE_SKEW=0")}
        {% endif %}
    {% endif %}

    {% if params.CLEAR %}
        {% set clear = params.CLEAR|default("_CLEAR1")|string %}
        {action_raise_error("매개변수 CLEAR 이동 완료 SAVE_ZMOD_DATA\n사용 SAVE_ZMOD_DATA CLEAR=" + clear)}
    {% endif %}

    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zforce_kamp VALUE={force_kamp|int}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zbed_temp VALUE={bed_temp|float}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zextruder_temp VALUE={extruder_temp|float}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zforce_leveling VALUE={force_leveling}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zforce_kamp VALUE={force_kamp}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zskip_zoffset VALUE={skip_zoffset}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zskip_leveling VALUE={skip_leveling}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zzoffset VALUE={zoffset|float}
    SET_GCODE_VARIABLE MACRO=_START_PRINT VARIABLE=zmesh VALUE='"{mesh|string}"'

    _START_PRINT

    {% if internal == 1 %}
        AIR_CIRCULATION_INTERNAL
    {% else %}
        AIR_CIRCULATION_EXTERNAL
    {% endif %}

[gcode_macro END_PRINT]
description: 종료 G-code
gcode:
    # Ретракт
    {% if ("xyz" in printer.toolhead.homed_axes) and (printer.toolhead.extruder != '') and (printer[printer.toolhead.extruder].can_extrude) %}
        G91                     ; relative positioning
        G1 X-2 Y-2 E-5 F2000    ; move away while retracting filament
    {% endif %}

    {% set zauto_reboot = printer.save_variables.variables.auto_reboot|default(0) | int %}
    {% if zauto_reboot != 0 %}
      RESPOND PREFIX="info" MSG="1.5분 후 자동 재부팅"
      UPDATE_DELAYED_GCODE ID=_AUTO_REBOOT DURATION=90
    {% endif %}

    {% set pro_poweroff_timeout = printer.save_variables.variables.pro_poweroff_timeout|default(0) | int %}
    {% if pro_poweroff_timeout != 0 %}
        RESPOND PREFIX="info" MSG="{pro_poweroff_timeout}분 후 자동 프린터 종료"
        UPDATE_DELAYED_GCODE ID=_PRO_POWEROFF DURATION={pro_poweroff_timeout*60}
    {% endif %}
    UPDATE_DELAYED_GCODE ID=_SDCARD_RESET_FILE DURATION=20

    _COMMON_END_PRINT

[gcode_macro M25]
description: 인쇄 일시정지
rename_existing: M25.1
gcode:
    ZCONTROL_OFF
    PAUSE

[gcode_macro M24]
rename_existing: M24.1
gcode:
    {% if printer.pause_resume.is_paused %}
        ZCONTROL_ON
        RESUME
    {% else %}
        ZCONTROL_ON
        M24.1
    {% endif %}

[gcode_macro RESTART_GUPPY]
description: Guppy 재시작
gcode:
    {% set guppy = printer.save_variables.variables.guppy|default(1) | int %}
    {% set screen = printer["gcode_macro START_PRINT"].screen %}

    {% if screen == False %}
        {% if guppy == 1 %}
            RUN_SHELL_COMMAND CMD=zdisplay PARAMS="test"
        {% else %}
            RESPOND PREFIX="info" MSG="GuppyScreen 미사용"
        {% endif %}
    {% else %}
        RESPOND PREFIX="info" MSG="기본 화면 사용 중. GuppyScreen 재시작 불필요"
    {% endif %}
