[temperature_sensor weightValue]
sensor_type: MAX31856
sensor_pin: PD5
#spi_bus: spi4
spi_speed: 1000000
spi_software_sclk_pin: PD6
spi_software_mosi_pin: PD7
spi_software_miso_pin: PD8
min_temp: 0
max_temp: 2048
gcode_id: W

[temperature_sensor tvocValue]
sensor_type: MAX31865
sensor_pin: PD4
#spi_bus: spi4
#cs_pin: PD0
spi_speed: 500000
spi_software_sclk_pin: PE3
spi_software_mosi_pin: PE4
spi_software_miso_pin: PE5
min_temp: 0
max_temp: 2048
gcode_id: V

[gcode_macro _G17]
gcode:
    RESPOND PREFIX="info" MSG="Spiral/Auto Z-Hop 대체. 프린터에서 지원 안 함"
    RESPOND PREFIX="info" MSG="Orca에서 프린터 프로필 -> 압출기 1 -> Z 호핑 유형. 일반/경사 설정"

[gcode_macro G17]
gcode:
    _G17

[gcode_macro G18]
gcode:
    _G17

[gcode_macro G19]
gcode:
    _G17

[gcode_macro LOAD_CELL_TARE]
description: 로드 셀 무게 리셋
variable_success: 0
gcode:
    {% set we = printer['temperature_sensor weightValue'].temperature %}

    RESPOND PREFIX="info" MSG="로드 셀 무게 리셋 중"

    QUERY_PROBE

    _LOAD_CELL_TARE_PROBE

    _LOAD_CELL_TARE_CHECK

    # Сбрасываем значение переменной
    SET_GCODE_VARIABLE MACRO=LOAD_CELL_TARE VARIABLE=success VALUE=0

    # Пробуем 10 раз сбросить тензы
    {% for i in range(1, 11) %}
        _LOAD_CELL_TARE_IF_NO_SUCCESS ITER={i}
    {% endfor %}

    # Финальная проверка
    _LOAD_CELL_TARE_FINAL_CHECK

# Проверяем, что сопло не упирается в стол
[gcode_macro _LOAD_CELL_TARE_PROBE]
gcode:
    {% if printer['probe'].last_query %}
        {% set probe="트리거됨" %}
        SAVE_GCODE_STATE NAME=cell_tare
        {% if "z" not in printer.toolhead.homed_axes %}
            G28 Z
            M400
        {% else %}
            {% if printer.toolhead.position.z < 10 %}
                G91
                G1 Z5
                M400
                G4 P500
                M400
            {% endif %}
        {% endif %}
        RESTORE_GCODE_STATE MOVE=0 NAME=cell_tare
        RESPOND PREFIX="info" MSG="로드 셀 트리거! 베드 청소 확인 필수!"
    {% else %}
        {% set probe="트리거됨" %}
    {% endif %}
    RESPOND PREFIX="info" MSG="프로브 센서 {probe}"

# Сброс и проверка тензодатчиков
[gcode_macro _LOAD_CELL_TARE_IF_NO_SUCCESS]
gcode:
    {% set iter = params.ITER|default(0)|int %}

    {% if not printer["gcode_macro LOAD_CELL_TARE"].success %}
        _LOAD_CELL_TARE_SET
        _LOAD_CELL_TARE_CHECK ITER={iter}
    {% endif %}

# Сброс тензодатчиков
[gcode_macro _LOAD_CELL_TARE_SET]
gcode:
    # Tare is set by toggeling level_h1 pin
    SET_PIN PIN=level_h1 VALUE=0
    G4 P{505}
    M400
    SET_PIN PIN=level_h1 VALUE=1
    G4 P{505}
    M400
    SET_PIN PIN=level_h1 VALUE=0
    G4 P{505}
    M400
    SET_PIN PIN=level_h1 VALUE=1
    G4 P{505}
    M400

# Проверка тензодатчиков
[gcode_macro _LOAD_CELL_TARE_CHECK]
gcode:
    {% set iter = params.ITER|default(0)|int %}
    {% set we = printer['temperature_sensor weightValue'].temperature %}

    {% if "PRESSED" in printer['gcode_button check_level_pin'].state %}
        {% set clp="제로링 확인됨" %}
        {% if iter != 0 %}
            SET_GCODE_VARIABLE MACRO=LOAD_CELL_TARE VARIABLE=success VALUE=1
        {% endif %}
    {% else %}
        {% set clp="제로링 미확인" %}
    {% endif %}

    RESPOND PREFIX="info" MSG="{iter+1}회차 확인. {clp}. 무게: {we}"

# Финальная проверка
[gcode_macro _LOAD_CELL_TARE_FINAL_CHECK]
gcode:
    {% set we = printer['temperature_sensor weightValue'].temperature %}
    {% set screen = printer["gcode_macro START_PRINT"].screen %}

    # Check success
    {% if printer["gcode_macro LOAD_CELL_TARE"].success %}
        # Toggle level clear plin.
        # No sure what the level clear pin does. But we do the same as the stock software.
        SET_PIN PIN=level_clear VALUE=0
        G4 P10
        M400
        SET_PIN PIN=level_clear VALUE=1
        G4 P10
        M400
        RESPOND PREFIX="info" MSG="로드 셀 리셋 성공. 무게: {we}"
    # Else raise error
    {% else %}
        RESPOND PREFIX="info" MSG="오류 시 무게: {we}"
        {% if screen == True %}
            RESPOND PREFIX="info" MSG="기본 화면 베드 레벨링 모드 사용. // SAVE_ZMOD_DATA PRINT_LEVELING=1"
        {% endif %}
        {action_raise_error("로드 셀 리셋 오류. FAQ 참고: https://github.com/ghzserg/zmod/wiki/FAQ")}
    {% endif %}
