# Настройки сенсора как датчика наличия филамента в режиме БЕЗ экрана
[filament_switch_sensor e0_sensor]
pause_on_runout: False
runout_gcode: _RUNOUT_ACTION
insert_gcode: _INSERT_ACTION
switch_pin: !PB14
event_delay: 1.0

[gcode_macro _RUNOUT_ACTION]
gcode:
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] | default({}) %}

    {% if printer[client.runout_sensor].enabled %}
        RESPOND PREFIX="info" MSG="耗材用尽。30秒后暂停"
        RESPOND PREFIX=tgalarm_photo MSG="耗材用尽。30秒后暂停"
        UPDATE_DELAYED_GCODE ID=delayed_pause DURATION=30
    {% endif %}

[gcode_macro _INSERT_ACTION]
gcode:
  UPDATE_DELAYED_GCODE ID=delayed_pause DURATION=0

[delayed_gcode delayed_pause]
gcode:
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] | default({}) %}
    {% set runout_resume = True if client.runout_sensor | default("") == ""   # no runout
                    else True if not printer[client.runout_sensor].enabled  # sensor is disabled
                    else printer[client.runout_sensor].filament_detected %} # sensor status
    {% if runout_resume == False %}
        RESPOND TYPE=error MSG="检测到耗材用尽"
        RESPOND PREFIX=tgalarm_photo MSG="检测到耗材用尽"
        PAUSE
    {% endif %}
